@font-face { font-family: police; src: url('alagard/alagard.ttf'); }
body {
  background-image: url("image/grotte.JPG");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: 100% 100% ;
}
p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  margin-left:280px ;
  margin-right:280px;
  /*font-family : police ;*/
  opacity: 0.6 ;
  margin-top : 0 ;
  border-radius: 9px; 
  padding: 1% 4%; 
}
dl{
  margin: 5%;
  margin-top : 0 ;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;

  margin-left:280px ;
  margin-right:280px;
  font-family : police ;
  margin-top : 0 ;
}
h3{
  margin-bottom: 0;
  font-weight: bold;
  color: #000000;
  background-color:  #8f7f7c;
  opacity: 0.8;
  margin-left:280px ;
  margin-right:280px;
  font-family : police ;
  border-radius: 9px; 
  padding: 0.5% 4%; 
  
}
ul{
  background-color:  #b91811 ;
  margin-right : 70% ;
  font-family : police ;
  
}
h1{
  font-family : police ;
  color: white;
  padding-left: 4%;
}
.special{
  color : violet ;
  font-weight : bold ;
  }
h3.special{
  color : orange ;
  }
.image_a_droite{
 float : right ;
}

.lien-rectangle {
  display: inline-block;
  background-color: black;
  color: white;
  font-family : police ;
  padding: 10px 20px;
  text-decoration: none; 
  border-radius: 9px;  /*coins arrondis*/
  transition: background-color 0.3s;
}

.lien-rectangle:hover {
  background-color: #333; /* effet au survol */
}

.index {
  background-color: #4f0182;
  padding: 1% 3%; 
  opacity: 0.8;
}

.index .lien-rectangle {
  display: inline-block;
  margin: 10px 15px;
}

.moon {
  height: 50px;
  float: right;
  margin-right: 10px;
}

.centrer {
  display: flex ;
  justify-content: center ;
}

.no-opacity {
  opacity: 1 !important;
}

.opacity {
  opacity: 0.5 !important;
}

.centrer_canvas{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image {
  width: 15vw; 
  height: 15vw;
  object-fit: cover;
  margin: 1vw;
  border-radius: 3px;  
}
